.action-red mat-icon, .action-red span { color: #ef4444 !important; }
.action-blue mat-icon, .action-blue span { color: #3b82f6 !important; }
.action-green mat-icon, .action-green span { color: #16a34a !important; }
.action-amber mat-icon, .action-amber span { color: #f59e0b !important; }
.action-skin mat-icon, .action-skin span { color: #d97706 !important; }
